@CHARSET "ISO-8859-1";
html, body {
	color:#fff;
	text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
	background:#222 url("../images/textures/brushed-metal.png");
}
a,a:link, a:hover,a:active,a:visited {
	color:#f4af03;
}
.ug-list:hover,.user_app,#second-bar,#rightcontent .module header,#rightcontent .module footer,.ch-table th,.contextMenu,.dragbox h2  {
	background-image: url("../images/textures/brushed-metal.png");
  	background-image: url("../images/textures/brushed-metal.png"), -webkit-linear-gradient(top, #2f3640 0%, #212a33 100%);
  	background-image: url("../images/textures/brushed-metal.png"), -moz-linear-gradient(top, #2f3640 0%, #212a33 100%);
  	background-image: url("../images/textures/brushed-metal.png"), -o-linear-gradient(top, #2f3640 0%, #212a33 100%);
  	background-image: url("../images/textures/brushed-metal.png"), linear-gradient(to bottom, #2f3640 0%, #212a33 100%);
}
.ch-table tbody tr:hover,ul#pagination li a:hover,.dragbox h2.collapse {
	background-color: #f4af03;
 	background-image: url("../images/textures/brushed-metal.png");
  	background-image: url("../images/textures/brushed-metal.png"), -webkit-linear-gradient(top, #5b5f6b 0%, #40444f 100%);
  	background-image: url("../images/textures/brushed-metal.png"), -moz-linear-gradient(top, #5b5f6b 0%, #40444f 100%);
  	background-image: url("../images/textures/brushed-metal.png"), -o-linear-gradient(top, #5b5f6b 0%, #40444f 100%);
  	background-image: url("../images/textures/brushed-metal.png"), linear-gradient(to bottom, #5b5f6b 0%, #40444f 100%);
}
ul#pagination li.active {
	background: #F4AF03;
	color:white;
}

#form-search input[type=submit]:hover,#form-search input[type=submit]:focus, ul.contextMenu li:hover a {
	background: #F4AF03;
	background-image: linear-gradient(#F0731A, #e24b17);
	background-image: -moz-linear-gradient(#F0731A, #e24b17);
	background-image: -0-linear-gradient(#F0731A, #e24b17);
	background-image: -webkit-linear-gradient(#F0731A, #e24b17);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(23, 51, 78, 0.03);
    color:white;
}
#form-search input:hover,#form-search input:focus {
	border-color: #171e28;
}
#form-search input    { border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2); }
    
table.det-view tr.desc,table.det-view,.ug-list,.ch-table tr th,ul#pagination li.paging_h a,.breadcrumbs, .user_app,#rightcontent .module,.ch-table,.dragbox, ul.last-act li {
	border:1px solid #171e28;;
}
ul#pagination li.active,ul#pagination li a, ul.contextMenu, ul.dash-alert li {
	border:1px solid #171e28;
	color:#fff;
}
.ch-table tr td{
	border-left:1px solid #171e28;
}

table.det-view h1,#second-bar,#rightcontent .module header,.ch-form legend, table.log-info tr td {
	border-bottom:1px solid #171e28;;
}
.footer-section,#rightcontent .module footer {
	border-top:1px solid #171e28;;
}
.breadcrumbs, #leftsider #k-panel ,.user_app,#rightcontent .module, ul.contextMenu,.dragbox{
	border-radius:2px;
}
ul.context-menu a {
	color:#f4af03;
}
#rightcontent .module header, ul.contextMenu li:firstchild a{
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}
#rightcontent .module footer, ul.contextMenu li:lastchild a{
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.style-what {
	border-bottom:1px dashed #171e28;;
}
.ch-table tr.odd,.module,.dragbox {
	background:#2f3640;
}
.ch-table tr.even {
	background:#212a33;
}




















